<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Lets eat that burger!{{else}}I want another one!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">THROW IT IN THE TRASH!</button>
</li>
